/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* Background */
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#4f46e5,#7c3aed,#af08e2);
}

/* Main Container */
.container{
    width:450px;
    padding:40px;

    text-align:center;

    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(15px);

    border-radius:20px;

    box-shadow:0 8px 30px rgba(0,0,0,0.25);
}

/* Heading */
.container h1{
    color:white;
    font-size:42px;
    margin-bottom:30px;
    letter-spacing:2px;
}

/* Stopwatch Display */
.time-display{
    font-size:52px;
    font-weight:bold;
    color:white;

    padding:25px;
    margin-bottom:30px;

    border-radius:15px;

    background:rgba(255,255,255,0.1);
}

/* Button Container */
.buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;

    margin-bottom:30px;
}

/* Buttons */
button{
    padding:12px 22px;

    border:none;
    border-radius:10px;

    font-size:16px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

/* Hover Effect */
button:hover{
    transform:translateY(-3px);
}

/* Individual Button Colors */
#startBtn{
    background:#22c55e;
    color:white;
}

#pauseBtn{
    background:#f59e0b;
    color:white;
}

#resetBtn{
    background:#ef4444;
    color:white;
}

#lapBtn{
    background:#06b6d4;
    color:white;
}

/* Lap Section */
.lap-section h2{
    color:white;
    margin-bottom:15px;
}

#lapList{
    list-style:none;

    max-height:180px;
    overflow-y:auto;

    text-align:left;
}

/* Lap Items */
#lapList li{
    padding:10px 15px;
    margin-bottom:10px;

    border-radius:8px;

    background:rgba(255,255,255,0.15);

    color:white;
}